<ion-content padding>
  <div id="header">
    <div id="app_name">
      <h1>Bex</h1>
    </div>
  </div>

  <img src="assets/imgs/udg_logo.png" alt="Logo UDG">

  <div>
    <ion-list>
      <ion-item>
        <ion-label floating>Código</ion-label>
        <ion-input type="tel" maxlength="9" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>NIP</ion-label>
        <ion-input type="password" [(ngModel)]="nip"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer padding no-border>
  <button ion-button block (click)="logIn()">Ingresar</button>
</ion-footer>