page-login {
    #header {
        width: 100%;
        text-align: center;
        #app_name {
            width: 66.66%;
            margin: 0px auto;
            h1 {
                margin: 0px;
                font-size: 4.2em;
            }
        }
    }
    img {
        height: 40%;
        display: block;
        margin: 10% auto 10% auto;
    }
}
