<ion-header>
  <ion-toolbar>
    <ion-title>Agregar materia</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
    <ion-item>
      <ion-label floating>NRC</ion-label>
      <ion-input type="tel" maxlength="6" [(ngModel)]="nrc" formControlName="nrc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Materia</ion-label>
      <ion-input type="text" [(ngModel)]="subject" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Horario</ion-label>
      <ion-input type="text" maxlength="13" [(ngModel)]="time" formControlName="time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Lugar</ion-label>
      <ion-input type="text" [(ngModel)]="build" formControlName="place"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Días</ion-label>
      <ion-input type="text" [(ngModel)]="days" formControlName="days"></ion-input>
    </ion-item>
    <ion-footer no-border padding>
      <button ion-button block type="submit" [disabled]="!data.valid" (click)="add()">
        Agregar
      </button>
    </ion-footer>
  </form>
</ion-content>