<ion-header>
  <ion-navbar>
    <ion-title>Asistencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col class="generalInfo">
        <button ion-button clear (click)="getChart()"> {{nrc}} </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="generalInfo dateF">
        <ion-label>Fecha:</ion-label>
      </ion-col>
      <ion-col>
        <ion-datetime displayFormat="DD/MMM" pickerFormat="DD MMM" [(ngModel)]="myDate"></ion-datetime>
      </ion-col>
    </ion-row>
  </div>
  <ion-list>
    <ion-row>
      <ion-col width-80>
        <ion-list-header class="header">Nombre</ion-list-header>
      </ion-col>
      <ion-col width-20>
        <ion-list-header class="header">Asistencia</ion-list-header>
      </ion-col>
    </ion-row>
    <ion-item-sliding class="table-row" *ngFor="let student of students">
      <ion-item>
        <ion-row>
          <ion-col width-80 class="name">
            {{student.name}}
          </ion-col>
          <ion-col width-20 class="right">
            <ion-icon *ngIf="student.type == 'A'" class="margined" name="checkmark" color="secondary"></ion-icon>
            <ion-icon *ngIf="student.type != 'A'" class="margined" name="checkmark" (click)="setAttendance(student.id, 'A')"></ion-icon>
            <ion-icon *ngIf="student.type == 'F'" class="marginedx" name="close" color="secondary"></ion-icon>
            <ion-icon *ngIf="student.type != 'F'" class="marginedx" name="close" (click)="setAttendance(student.id, 'F')"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer no-border padding>
  <div class="button">
    <button ion-button block (click)="delete()">Guardar</button>
  </div>
</ion-footer>