page-attendance {
    .table-row {
        border-top: none;
        border-bottom: none;
        font-size: 8px;
    }

    .margined {
        padding: 0% 15% 0% 15%;
    }

    .right {
        text-align: right;
    }

    .header {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: black;
    }

    .name {
      font-size: 14px;
    }

    .button {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }

    .button button {
      align-self: center;
      padding: auto;
      padding-bottom: 0px;
      text-align: center;
    }

    .generalInfo {
      padding: auto;
      align-content: center;
      text-align: center;
      height: inherit;
    }
}
