page-subjects-list {

    .schedule img {
      position: absolute;
    }

    .class p {
      font-size: 12px;
    }

    .rectangle {
      width: 10px;
    }

    #a {
      background: blue;
    }

    #b {
      background: green;
    }

    #c {
      background: red;
    }

}
