<ion-header>
  <ion-navbar>
    <ion-title>Horario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-segment [(ngModel)]="days">
      <ion-segment-button value="L">
        Lun
      </ion-segment-button>
      <ion-segment-button value="M">
        Mar
      </ion-segment-button>
      <ion-segment-button value="I">
        Mié
      </ion-segment-button>
      <ion-segment-button value="J">
        Jue
      </ion-segment-button>
      <ion-segment-button value="V">
        Vie
      </ion-segment-button>
      <ion-segment-button value="S">
        Sáb
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="days" class="class">
    <ion-list *ngSwitchCase="'L'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('L')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'M'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('M')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'I'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('I')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'J'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('J')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'V'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('V')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'S'">
      <button (click)="takeAttendance(section.nrc)" ion-item *ngFor="let section of sectionsOf('S')">
        <ion-item item-start class="rectangle" [ngStyle]="{'background-color': section.color}"></ion-item>
        <p>{{section.time}} {{section.build}}</p>
        <h3>{{section.subject}}</h3>
        <p>{{section.nrc}}</p>
      </button>
    </ion-list>
  </div>
  <div class="add-button">
    <ion-fab bottom right>
      <button ion-fab mini (click)="addSubject()">+</button>
    </ion-fab>
  </div>
</ion-content>
