<!--
  Generated template for the AttendancesChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Porcentaje de asistencia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <chart [options]="chartOptions" style="display:block" type="chart"></chart>
</ion-content>